@charset "UTF-8";

#jxp-debug-console {
	position: relative;
	top: 0;
	overflow: hidden;
	background: #2a2e30;
	font-family: 'Open Sans', Arial;
}

.jxp-console-dropdown-content, .jxp-console-content {
	float: left;
}

.jxp-console-trigger {
	display: inline-block;
	position: relative;
	height: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0 36px 0 20px;
	line-height: 40px;
	background-color: #111433;
	color: #ffffff;
	width: 100%;
}

.jxp-console-trigger:hover {
	background-color: #171b46;
}

.jxp-console-trigger::before, .jxp-console-trigger::after {
	/* this is the arrow inside the dropdown trigger*/
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -1px;
	height: 2px;
	width: 9px;
	background: #ffffff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: width 0.3s, -webkit-transform 0.3s;
	-moz-transition: width 0.3s, -moz-transform 0.3s;
	transition: width 0.3s, transform 0.3s;
}

.jxp-console-trigger::before {
	right: 72px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.jxp-console-trigger::after {
	right: 77px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.jxp-console-trigger.close::after, .jxp-console-trigger.close::before {
	/* this is the 'X' icon */
	content: '';
	/*position: absolute;*/
	/*left: 50%;*/
	top: 40%;
	bottom: auto;
	right: 75px;
	/*-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);*/
	height: 16px;
	width: 2px;
	background-color: #ffffff;
}
.jxp-console-trigger.close::after {
	-webkit-transform: translateX(0) translateY(0) rotate(45deg);
	-moz-transform: translateX(0) translateY(0) rotate(45deg);
	-ms-transform: translateX(0) translateY(0) rotate(45deg);
	-o-transform: translateX(0) translateY(0) rotate(45deg);
	transform: translateX(0) translateY(0) rotate(45deg);
}
.jxp-console-trigger.close::before {
	-webkit-transform: translateX(0) translateY(0) rotate(-45deg);
	-moz-transform: translateX(0) translateY(0) rotate(-45deg);
	-ms-transform: translateX(0) translateY(0) rotate(-45deg);
	-o-transform: translateX(0) translateY(0) rotate(-45deg);
	transform: translateX(0) translateY(0) rotate(-45deg);
}

.jxp-console-wrapper .jxp-console-dropdown-content li {
	padding: 7px;
	line-height: 1rem;
	display: block;
	color: #ffffff;
}